<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Mikroekonomia</title>
</head>
<body>
    {% if answered == False %}
    <form method="POST">
        <div><h2>{{ question["content"] }}</h2></div>

        <label class="option-label">
            <input type="radio" name="answer" value="a" class="visually-hidden" onchange="this.form.submit()">
            <div class="option">a) {{ question["a"] }}</div>
        </label>

        <label class="option-label">
            <input type="radio" name="answer" value="b" class="visually-hidden" onchange="this.form.submit()">
            <div class="option">b) {{ question["b"] }}</div>
        </label>

        <label class="option-label">
            <input type="radio" name="answer" value="c" class="visually-hidden" onchange="this.form.submit()">
            <div class="option">c) {{ question["c"] }}</div>
        </label>

        <label class="option-label">
            <input type="radio" name="answer" value="d" class="visually-hidden" onchange="this.form.submit()">
            <div class="option">d) {{ question["d"] }}</div>
        </label>
    </form>
    {% endif %}

    {% if answered == True %}
    <form method="GET">
        <div><h2>{{ question["content"] }}</h2></div>
        <div class="option">a) {{ question["a"] }}</div>
        <div class="option">b) {{ question["b"] }}</div>
        <div class="option">c) {{ question["c"] }}</div>
        <div class="option">d) {{ question["d"] }}</div>
        <div>{{ result }}</div>
        <button type="submit" name="summary">Kolejne pytanie</button>
    </form>
    {% endif %}
</body>
</html>
